.autoContainer {
    position: absolute;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 1px 1px 12px #bdbac2;
    background-color: #fdfdfd;
    width: 370px;
    cursor: pointer;
    z-index: 10;
}

.option {
    display: flex;
    align-items: center;
    width: 370px;
    padding: 5px;
}

.option,
h5 {
    margin-left: 10px;
    font-size: 18px;
    text-transform: capitalize;
}
